.contacts {
    text-align: right;
    
}
.contacts__phone {
    text-align: right;
    line-height: 1.2;
}

.contacts__number {
    color:whitesmoke;
    font-style: normal;
    text-decoration: none;
    font-size: 26px;
}

.contacts__workdays {
    text-decoration: underline;
    text-align: right;
    color: #FF5500;
    font-size: 13px;
    
    
}

.contacts__popup {
    display: block;
    top: 80px;
    text-align: center;
    font-size: 16px;
    width: 180px;
    top: 75px;
    background: #474e5881;
}
