.contacts {
    text-align: right;
    
}
.contacts__phone {
    text-align: right;
    line-height: 1.2;
}

.contacts__number {
    color:whitesmoke;
    font-style: normal;
    text-decoration: none;
    font-size: 26px;
}

.contacts__workdays {
    text-decoration: underline;
    text-align: right;
    color: #FF5500;
    font-size: 16px;    
    
}